<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <div class="card">

        <h1 class="title">Login Nongkrong Finder</h1>

        <form action="/login" method="post">

            <label>Email</label>

            <input type="email" name="email">

            <label>Password</label>

            <input type="password" name="password">

            <button class="btn" type="submit">
                Login
            </button>

        </form>

        <br>

        <a href="/register">
            Belum punya akun?
        </a>

    </div>

</div>

</body>
</html>