<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Review Tempat</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="container">

    <div class="card">

        <h1 class="title"
            th:text="${tempat.nama_tempat}">
        </h1>

        <h2>Tambah Review</h2>

        <form th:action="@{'/review/simpan/' + ${tempat.id_tempat}}"
              method="post">

            <label>Rating</label>

            <input type="number"
                   min="1"
                   max="5"
                   name="rating">

            <label>Komentar</label>

            <textarea name="komentar"></textarea>

            <button class="btn" type="submit">
                Kirim Review
            </button>

        </form>

        <br><br>

        <h2>Daftar Review</h2>

        <div th:each="review : ${reviewList}">

            <b>⭐ Rating :</b>
            <span th:text="${review.rating}"></span>

            <br><br>

            <b>Komentar :</b>
            <span th:text="${review.komentar}"></span>

            <hr>

        </div>

    </div>

</div>

</body>
</html>